.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/*
.Rproj.user/
.DS_Store
*.pper
data/.DS_Store
cache/*
data/Nikon-Widefield/*
data_output/*
Data/16S/*
data/.DS_Store
fig_output/*
data/nanoSIMS_tables/.DS_Store
10_16S_Analysis_files/*
10_16S_Analysis_files/libs/typedarray-0.1/typedarray.min.js
10_16S_Analysis_files/libs/quarto-html/tippy.umd.min.js
10_16S_Analysis_files/libs/quarto-html/tippy.css
10_16S_Analysis_files/libs/quarto-html/quarto.js
10_16S_Analysis_files/libs/quarto-html/quarto-syntax-highlighting.css
10_16S_Analysis_files/libs/quarto-html/popper.min.js
10_16S_Analysis_files/libs/quarto-html/anchor.min.js
10_16S_Analysis_files/libs/plotly-main-2.11.1/plotly-latest.min.js
10_16S_Analysis_files/libs/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css
10_16S_Analysis_files/libs/plotly-binding-4.10.3/plotly.js
10_16S_Analysis_files/libs/plotly-binding-4.10.2/plotly.js
10_16S_Analysis_files/libs/jquery-3.5.1/jquery.min.map
10_16S_Analysis_files/libs/jquery-3.5.1/jquery.min.js
10_16S_Analysis_files/libs/jquery-3.5.1/jquery.js
10_16S_Analysis_files/libs/jquery-3.5.1/jquery-AUTHORS.txt
10_16S_Analysis_files/libs/htmlwidgets-1.6.2/htmlwidgets.js
10_16S_Analysis_files/libs/crosstalk-1.2.0/scss/crosstalk.scss
10_16S_Analysis_files/libs/crosstalk-1.2.0/js/crosstalk.min.js.map
10_16S_Analysis_files/libs/crosstalk-1.2.0/js/crosstalk.min.js
10_16S_Analysis_files/libs/crosstalk-1.2.0/js/crosstalk.js.map
10_16S_Analysis_files/libs/crosstalk-1.2.0/js/crosstalk.js
10_16S_Analysis_files/libs/crosstalk-1.2.0/css/crosstalk.min.css
10_16S_Analysis_files/libs/clipboard/clipboard.min.js
10_16S_Analysis_files/libs/bootstrap/bootstrap.min.js
10_16S_Analysis_files/libs/bootstrap/bootstrap.min.css
10_16S_Analysis_files/libs/bootstrap/bootstrap-icons.woff
10_16S_Analysis_files/libs/bootstrap/bootstrap-icons.css
10_16S_Analysis_files/figure-html/unnamed-chunk-6-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-34-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-32-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-31-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-29-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-27-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-25-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-23-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-21-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-20-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-19-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-18-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-17-1.png
10_16S_Analysis_files/figure-html/unnamed-chunk-10-1.png
15_gini_coef_files/*
CRRDS notes.qmd
data/Picarro/raw_data/*