.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/*
.Rproj.user/
.DS_Store
*.pper
data/.DS_Store
data/Nikon-Widefield/*
Data/16S/*
data/.DS_Store
data/.DS_Store
data/.DS_Store
data/nanoSIMS_tables/.DS_Store
